[submodule "blog/themes/sam"]
	path = blog/themes/sam
	url = https://github.com/vickylai/hugo-theme-sam.git
[submodule "deploy"]
	path = deploy
	url = https://github.com/oopschen/oopschen.github.io.git
